{% block content %}
	<section id="content" class="body">
		<header>
			<h2 class="entry-title">
			<a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
			title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
			{% import 'translations.html' as translations with context %}
			{{ translations.translations_for(article) }}
		</header>
		<footer class="post-info">
			<abbr class="published" title="{{ article.date.isoformat() }}">
			{{ article.locale_date }}
			</abbr>
			{% if article.modified %}
			<abbr class="modified" title="{{ article.modified.isoformat() }}">
			{{ article.locale_modified }}
			</abbr>
			{% endif %}
			{% if article.authors %}
			<address class="vcard author">
			By {% for author in article.authors %}
			<a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
			{% endfor %}
			</address>
			{% endif %}
		</footer><!-- /.post-info -->
		<div class="entry-content">
		{{ article.content }}
		</div><!-- /.entry-content -->
	</section>
	<hr>
	<h3>Comments:</h3>
	{% if article.comments %}
		{% for comment in article.comments recursive %}
			{% if loop.depth0 == 0 %}
				{% set marginLeft = 0 %}
			{% else %}
				{% set marginLeft = 50 %}
			{% endif %}
				<article id="comment-{{comment.slug}}" style="border: 1px solid #DDDDDD; padding: 5px 0px 0px 5px; margin: 0px -1px 5px {{marginLeft}}px;">
					<a href="{{ SITEURL }}/{{ article.url }}#comment-{{comment.slug}}" rel="bookmark" title="Permalink to this comment">Permalink</a>
					<h4>{{ comment.author }}</h4>
					<p>Posted on <abbr class="published" title="{{ comment.date.isoformat() }}">{{ comment.locale_date }}</abbr></p>
					{{ comment.metadata['my_custom_metadata'] }}
					{{ comment.content }}
					{% if comment.replies %}
						{{ loop(comment.replies) }}
					{% endif %}
				</article>
		{% endfor %}
	{% else %}
		<p>There are no comments yet.<p>
	{% endif %}
{% endblock %}
